<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sky Sight | Aviator Sunglasses | OUR SUNGLASSES</title>
    <meta content="Skysight™ sunglasses improve viewing for pilots by combating the effects of glare and contrast sensitivity”&gt;. &lt;meta name=" keywords="" name="description" />
    <style type="text/css">td img {display: block;}</style><!--Fireworks CS5 Dreamweaver CS5 target.  Created Wed Feb 12 20:14:30 GMT-0600 (CST) 2014-->
    <script type="text/javascript" language="JavaScript1.2">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

//-->
</script></head>
  <body onload="MM_preloadImages('../assets/navbar/Skysightweb_r2_c1.jpg','../assets/navbar/Skysightweb_r2_c2.jpg','../assets/navbar/Skysightweb_r2_c3.jpg','../assets/navbar/Skysightweb_r2_c4.jpg','../assets/navbar/Skysightweb_r2_c5.jpg');"

    style="     color: black; background-color: white;" alink="#cc6600" marginwidth="0"

    marginheight="0" link="#ff0000" leftmargin="0" vlink="#993300" topmargin="0">
    <div align="center"> <!-- <table cellspacing="0" cellpadding="0" border="0" style="width: 1009px; height: 1679px;"> -->
      <table style="" cellspacing="0" cellpadding="0" border="0" width="1000">
        <!-- fwtable fwsrc="Homepage-FINAL.png" fwpage="Page 1" fwbase="setup.jpg" fwstyle="Dreamweaver" fwdocid = "24748529" fwnested="0" -->
        <tbody>
          <tr>
            <td colspan="5">
              <div align="center"><img alt="" id="setup_r1_c1" src="../assets/images/header.jpg"

                  name="setup_r1_c1" border="0" height="221" width="1000" /></div>
            </td>
            <td><img alt="" src="../assets/navbar/spacer.gif" border="0" height="221" width="1" /></td>
          </tr>
          <tr>
            <td><a onmouseover="MM_swapImage('setup_r2_c1','','../assets/navbar/Skysightweb_r2_c1.jpg',1);"

                onmouseout="MM_swapImgRestore();" href="../index.html"><img alt=""

                  id="setup_r2_c1" src="../assets/navbar/setup_r2_c1.jpg" name="setup_r2_c1"

                  border="0" height="38" width="193" /></a></td>
            <td><a onmouseover="MM_swapImage('setup_r2_c2','','../assets/navbar/Skysightweb_r2_c2.jpg',1);"

                onmouseout="MM_swapImgRestore();" href="our_sunglasses.html"><img

                  alt="" id="setup_r2_c2" src="../assets/navbar/Skysightweb_r2_c2.jpg"

                  name="setup_r2_c2" border="0" height="38" width="218" /></a></td>
            <td><a onmouseover="MM_swapImage('setup_r2_c3','','../assets/navbar/Skysightweb_r2_c3.jpg',1);"

                onmouseout="MM_swapImgRestore();" href="about_us.html"><img alt=""

                  id="setup_r2_c3" src="../assets/navbar/setup_r2_c3.jpg" name="setup_r2_c3"

                  border="0" height="38" width="148" /></a></td>
            <td><a onmouseover="MM_swapImage('setup_r2_c4','','../assets/navbar/Skysightweb_r2_c4.jpg',1);"

                onmouseout="MM_swapImgRestore();" href="contact_us.html"><img alt=""

                  id="setup_r2_c4" src="../assets/navbar/setup_r2_c4.jpg" name="setup_r2_c4"

                  border="0" height="38" width="173" /></a></td>
            <!-- changed for the fifth tap index.xhtml to 8-vendors.xhtml and associated jpg images  -->
            <td><a href="vendors.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('setup_r2_c7','','../assets/navbar/Skysightweb_r2_c7.jpg',1);"><img

                  name="setup_r2_c7" src="../assets/navbar/setup_r2_c7.jpg" id="setup_r2_c7"

                  alt="" border="0" height="38" width="268" /></a></td>
            <!-- End of the tab rows  -->
            <td><img alt="" src="../assets/navbar/spacer.gif" border="0" height="38" width="1" /></td>
          </tr>
          <tr>
            <td rowspan="2" colspan="5" valign="top">
              <div align="center"><br />
                <table border="0" height="747" width="1000">
                  <tbody>
                    <tr>
                      <td height="702" width="8"> </td>
                      <td rowspan="2" width="413" valign="top">
                        <p align="justify"><font face="Verdana, Arial, Helvetica, sans-serif"

                            size="-1"><strong>The Problem</strong><br />
                            As a pilot, you often fly in stark visual
                            environments with extreme contrast and glare. The
                            bright region of space in front of you often
                            requires your eyes to adjust to an enormous decrease
                            in brightness when you glance down to view the
                            instruments and reading material.</font></p>
                        <p align="justify"><font face="Verdana, Arial, Helvetica, sans-serif"

                            size="-1"><strong>What Causes Contrast?</strong><br />
                            Contrast in a jet cockpit is caused by the
                            difference between the bright outside light and the
                            relatively dim instrument panel. The eyes primarily
                            adapt to the bright outside light, so the instrument
                            panel can be too dim to see. There can also be
                            significant contrast between the dim instrument
                            panel and brighter reading material.<br />
                            <br />
                            <strong>What Causes Glare?</strong><br />
                            Glare occurs when the lens of the eye scatters
                            bright outside light when viewing the dimly lit
                            instruments. This scattering creates an illumination
                            that makes the instruments difficult to see. Reading
                            material, usually brighter than the instruments, can
                            also contribute to glare.<br />
                            <br />
                            <strong>Why Do Skysight<sup>®</sup> Sunglasses Work
                              Better Than Other Sunglasses?</strong><br />
                            <strong>Conventional sunglasses</strong> have
                            uniformly tinted lenses, and pilots typically wear
                            darkly tinted lenses to compensate for the bright
                            outside light. These sunglasses evenly reduce light
                            from regions outside and inside the aircraft, so
                            evenly tinted dark lenses may make the instrument
                            panel too dark to see. Skysight<sup>®</sup> lenses
                            have three distinct viewing areas: outside, the
                            instrument panel, and reading material. Each area is
                            separately tinted with a density that optimizes
                            viewing conditions for its region.<br />
                            <br />
                            <strong>Gradient sunglasses</strong> are tinted dark
                            at the top and light at the bottom. These sunglasses
                            are well suited for activities on or close to the
                            ground because the gradient tint compensates for the
                            change in brightness from the sky to the ground.
                            However, these sunglasses are not optimally suited
                            for flying because the pilot has to view into
                            relatively uniform bright outside light and then
                            view a dim instrument panel. Pilots often find these
                            sunglasses to be insufficiently dark for outside
                            light, too dark for the instruments, and, again, not
                            dark enough for reading material. These sunglasses
                            also do not compensate for the contrast between the
                            outside light and instrument panel because they
                            don't allow for the sharp change in brightness
                            between these two regions. In addition, gradient
                            sunglasses do little to mitigate glare because they
                            allow too much outside light to enter the pilot's
                            eyes when viewing the instrument panel. Skysight<sup>®</sup>
                            lenses overcome contrast and reduce glare by their
                            dark tint in all areas except those areas used to
                            view the instrument panel and reading material</font></p>
                      </td>
                      <td rowspan="2" width="10" valign="top"> </td>
                      <td rowspan="2" width="562" valign="top"> <img src="../assets/images/oursunglasses.jpg"

                          height="640" width="550" />
                        <table border="0" height="32" width="558">
                          <tbody>
                            <tr>
                              <td width="282">
                                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif"

                                    size="-1"><strong>Without Skysight<sup>®</sup>
                                      Glare-Reducing Sunglasses</strong></font></div>
                              </td>
                              <td width="266">
                                <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif"

                                    size="-1"><strong>With Skysight<sup>®</sup>
                                      Glare-Reducing Sunglasses</strong></font></div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table cellpadding="0" border="0" width="558">
                          <tbody>
                            <tr>
                              <td width="12">
                                <div align="justify"><br />
                                </div>
                              </td>
                              <td width="529">
                                <div align="justify"><font face="Verdana, Arial, Helvetica, sans-serif"

                                    size="-1"><strong><br />
                                      How Can Skysight<sup>®</sup> Sunglasses
                                      Help You?</strong><br />
                                    Our patented tri-tinted pattern uses
                                    different tints to balance the light from
                                    and for three distinct viewing regions: dark
                                    tint for outside, light tint for the
                                    instruments, and moderate tint for reading
                                    material.</font></div>
                              </td>
                              <td width="12"> </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="39"> </td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" height="116" width="934">
                  <tbody>
                    <tr>
                      <td height="112" width="234"><font face="Verdana, Arial, Helvetica, sans-serif"

                          size="-1"><strong>SKY SIGHT VISION, Inc.</strong><br />
                          <a target="_blank" href="3-contactus.html">info@skysight.com</a><br />
                          (918) 671-2945<br />
                          P.O. Box 52563<br />
                          Tulsa, OK 74152-0563</font></td>
                      <!-- 160908 code changed increasd width of one sub-table and decreased width of another on -->
                      <td style="width: 233px;">EYE CARE PROFESSIONALS<br />
                        Contact us for specialized<br />
                        Tri-tinting services<br />
                      </td>
                      <td style="width: 045px;"><font face="Verdana, Arial, Helvetica, sans-serif"

                          size="-1"><br />
                        </font></td>
                      <!-- 160908 end of code changed -->
                      <td width="404">
                        <div align="center"><font face="Verdana, Arial, Helvetica, sans-serif"><strong>Share:<br />
                            </strong></font>
                          <table border="0" width="207">
                            <tbody>
                              <tr>
                                <td align="center" width="56"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><a

                                        target="_blank" href="https://www.facebook.com/share.php?u=http://www.skysight.com"><img

                                          src="../assets/images/facebook.jpg" border="0" height="37"

                                          width="37" /></a></strong></font></td>
                                <td align="center" width="43"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><a

                                        target="_blank" href="https://plus.google.com/share?url=http://www.skysight.com"><img

                                          src="../assets/images/google.jpg" border="0" height="38"

                                          width="37" /></a></strong></font></td>
                                <td align="center" width="48"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><a

                                        target="_blank" href="http://www.twitter.com/home?status=http://www.skysight.com"><img

                                          src="../assets/images/twitter.jpg" border="0" height="37"

                                          width="37" /></a></strong></font></td>
                                <td align="center" width="42"><font face="Verdana, Arial, Helvetica, sans-serif"><strong><a

                                        target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.skysight.com"><img

                                          src="../assets/images/intouch.jpg" border="0" height="37"

                                          width="37" /></a></strong></font></td>
                              </tr>
                            </tbody>
                          </table>
                          <font face="Verdana, Arial, Helvetica, sans-serif"><strong>
                              <br />
                                 </strong></font></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- generic table -->
                <table border="0" height="0" width="924">
                  <tbody>
                    <tr>
                      <td align="center" height="0" width="600"> <font size="-1">U.S.
                          Patents 7,328,998, 7,862,165, 8,042,936, 8,277,045,
                          Patent Pending in the European Union<br />
                          Skysight is a registered trademark of Sky Sight
                          Vision, Inc.<br />
                        </font> </td>
                    </tr>
                  </tbody>
                </table>
                <p> </p>
              </div>
              <p>  </p>
            </td>
            <td><img alt="" src="images/spacer.gif" border="0" height="250" width="1" /></td>
          </tr>
          <tr>
            <td><img alt="" src="images/spacer.gif" border="0" height="186" width="1" /></td>
          </tr>
          <tr>
            <td colspan="5"><img alt="" id="setup_r5_c1" src="images/setup_r5_c1.jpg"

                name="setup_r5_c1" border="0" height="205" width="1000" /></td>
            <td><img alt="" src="images/spacer.gif" border="0" height="205" width="1" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
