<div class="row big-space-above">
  <div class="col-md-12">
    <h4 class="text-center">ABOUT US</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12 space-above bit-more-right">
    <div class="row">
      <div class="col-md-5">
        <p>
          Sky Sight Vision, Inc. was founded by Ray Hobbs, Ph.D. Ray has been flying for 50 years, holds an Airline Transport Pilot's License, and has more than 8,800 hours of flight time. About 15 years ago, Ray noticed strong glare when flying a Learjet 36A in the sub-arctic. He started testing ways to mitigate glare and improve viewing of the instruments, and this led to his development of the Skysight<sup>®</sup> tri-tinted lens pattern. Ray has been using his prototypes when flying for several years. As a result of his research and development, Sky Sight Vision holds four U.S. patents and one pending in the European Union.
        </p>
        <p>
          <img width="390" height="187" ng-src="assets/images/sunglassessketch.jpg" />
        </p>
        <p class="text-center">
          <strong>If you would like to learn more about trying our tint pattern on your lenses, contact us at <a ui-sref="contact">info@skysight.com.</a></strong>
        </p>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <strong>Here are “Before” and “After” photos of Ray Hobbs wearing his Skysight<sup>®</sup> sunglasses</strong>
          </div>
        </div>
        <div class="row space-above">
          <div class="col-md-6">
            <p>
              <img width="223" height="284" ng-src="assets/images/hobbsuntinted.jpg" />
            </p>
            <p class="text-center">
              <strong>Without Skysight<sup>® </sup>Lens</strong>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <img width="223" height="284" ng-src="assets/images/hobbstinted.jpg" />
            </p>
            <p class="text-center">
              <strong>With Skysight<sup>®</sup> Lens</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
              <strong>COMPATIBLE LENS TYPES</strong>
            </p>
            <p class="text-center">
              Our zone-specific tinting works on a variety of lens formats:
            </p>
            <ul>
              <li>Non-prescription</li>
              <li>Prescription</li>
              <li>Clip-ons, slip-ins, fit-overs</li>
              <li>Goggles, visors</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>