<div class="row big-space-above">
  <div class="col-md-12">
    <h4 class="text-center">FREQUENTLY ASKED QUESTIONS</h4>
  </div>
</div>
  <div class="col-md-12 space-above bit-more-right">
    <div class="row">
      <div class="col-md-5">
        <p>
          <b>Q: What makes the Skysight® special?</b>
        </p>
        <p>
          <b>A:</b> Our patented tri-tinted pattern uses different tints to balance the light for three viewing regions:
          <ul>
            <li>dark tint for outside</li>
            <li>light tint for the instruments</li>
            <li>moderate tint for reading material</li>
          </ul>
        </p>
        <p>
          <b>Q: How Can Skysight sunglasses help me?</b>
        </p>
        <p>
          <b>A:</b> The Skysight tint pattern helps viewing in the following conditions:
          <ul>
            <li>Extreme contrast</li>
            <li>Glare</li>
            <li>Stark visual environments</li>
          </ul>
        </p>
        <p>
          <b>Q: What is the contrast problem?</b>
        </p>
        <p>
          <b>A:</b> The eyes adapt to the brighter light from outside or from reading material so the dimmer instrument panel is hard to see.
        </p>
        <p>
          <b>Q: What causes glare?</b>
        </p>
        <p>
          <b>A:</b> The lens of the eye creates an illumination when it scatters bright light from outside or from reading material. This illumination makes the dimmer instruments difficult to see.
        </p>
        <p>
          <b>Q: Why Do Skysight sunglasses work better than regular sunglasses?</b>
        </p>
        <p>
          <b>A:</b> Conventional (regular) sunglasses have uniformly tinted lenses that evenly reduce light from outside and inside the aircraft. 
          <ul>
            <li>The dark tint required to reduce the outside brightness can be too dark for the instrument panel</li>
            <li>The Skysight lens is separated into three different viewing regions with three unique tint densities:</li>
            <ul>
              <li>Outside (dark)</li>
              <li>the instrument panel (light)</li>
              <li>reading material (moderate)</li>
            </ul>
          </ul>
        </p>
        <p>
          <b>Q: Why Do Skysight sunglasses work better than gradient sunglasses?</b>
        </p>
        <p>
          <b>A:</b> Gradient sunglasses are tinted dark at the top and light at the bottom. 
          <ul>
            <li>Gradient sunglasses do not compensate for the sharp change in brightness between the outside light and instrument panel.</li>
            <li>Gradient sunglasses do little for glare because they allow too much outside light to enter the pilot's eyes when viewing the instrument panel.</li>
            <li>Pilots often find gradient sunglasses</li>
            <ul>
              <li>not dark enough for outside light</li>
              <li>too dark for the instruments</li>
              <li>not dark enough for reading material</li>
            </ul>
            <li>Skysight lenses overcome contrast and reduce glare by having dark tint in all areas except those areas used to view the instrument panel and reading material.</li>
          </ul>
        </p>
      </div>
      <div class="col-md-5 space-above">
        <div class="row">
          <div class="col-md-12">
            <img ng-src="assets/images/oursunglasses.jpg" height="640" width="550" />
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <strong>Without Skysight<sup>®</sup> Glare-Reducing Sunglasses</strong>
          </div>
          <div class="col-md-6">
            <strong>With Skysight<sup>®</sup> Glare-Reducing Sunglasses</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mid-space-above">
            <p>
              <b>Q: Can I get the Skysight lens in my prescription?</b>
            </p>
            <p>
              <b>A:</b> Yes; contact <font color="blue">info@skysight.com</font> for details.
            </p>
            <p>
              <b>Q: Can I get the Skysight lens customized to my cockpit?</b>
            </p>
            <p>
              <b>A:</b> Yes; contact <font color="blue">info@skysight.com</font> for details.
            </p>
            <p>
              <b>Q: Can I have the Skysight pattern applied to glasses I already have?</b>
            </p>
            <p>
              <b>A:</b> Quite possibly. Contact <font color="blue">info@skysight.com</font> for information about our tinting services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>