<div>
  <div class="row space-above">
    <div class="col-md-12">
      <img src="assets/images/Skysightweb_r3_c1.jpg" height="250" width="1000" />
    </div>
  </div>

  <div class="row space-above">
    <div class="col-md-9 offset-md-1">
      Flying commercially is a tough job, and the sun's brightness can make it even harder. But there's good news! With our patented tri-tinted lens, you can reduce the effects of glare and contrast.
    </div>
  </div>

  <div class="row space-above">
    <div class="col-md-9 offset-md-1">
      <h6><strong>
        See What Skysight's<sup>&reg;</sup> Patented Glare-Reducing Tri-Tinted Pattern Can Do For You
      </strong></h6>
      Skysight<sup>&reg;</sup> sunglasses improve viewing for pilots by combating the effects of glare and contrast sensitivity. Three zones are uniquely tinted so that the bright outside light is balanced with the dim instrument panel and the intermediately bright reading material.
      <div class="space-above">
        <a ui-sref="lightdarkviews"><strong>CLICK HERE</strong></a> to see the difference our sunglasses make in the cockpit of an MD-80 under stark lighting.
      </div>
    </div>
  </div>
</div>