<div class="row">
  <div class="col-md-11">

    <div class="row space-above">
      <div class="col-md-12">
        <h5 class="text-center"><strong><em>See the difference our sunglasses make in the cockpit of an MD-80 under stark lighting</em></strong></h5>
      </div>
    </div>

    <div class="row space-above text-center">
      <div class="col-md-5 offset-md-1">
        <p>
          <strong>Without Skysight<sup>&reg;</sup> Glare-Reducing Sunglasses</strong>
        </p>
        <p>
          <img width="402" height="604" ng-src="assets/images/Dark%20Instruments.jpg" />
        </p>
      </div>
      <div class="col-md-5">
        <p>
          <strong>With Skysight<sup>&reg;</sup> Glare-Reducing Sunglasses</strong>
        </p>
        <p>
          <img width="403" height="604" ng-src="assets/images/Light%20Instruments.jpg" />
        </p>
      </div>
    </div>
  </div>
</div>