body {
  font: 14px "Verdana", "Arial", "Helvetica", sans-serif;
}

.space-above {
  margin-top: 20px;
}

.slightly-right {
  margin-left: 10px;
}

.slightly-left {
  margin-left: -50px;
}

.murray-small {
  width: 100px;
  height: 100px;
}

.pointer {
  cursor: pointer;
}